.header__upper-bar {
	box-sizing: border-box;
	margin: 0 auto;
	background-color: #fff;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	justify-items: space-between;
	align-items: center;
	padding: 16px;
}

@media screen and (min-width: 475px) {
	.header__upper-bar {
		padding: 24px;
	}
}

@media screen and (min-width: 768px) {
	.header__upper-bar {
		padding: 24px 36px;
	}
}

@media screen and (min-width: 1024px) {
	.header__upper-bar {
		padding: 20px 50px;
	}
}

@media screen and (min-width: 1280px) {
	.header__upper-bar {
		padding: 20px 70px;
	}
}
