.link {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Franklin-Gothic-Book", "Arial", sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 100%;
	color: #000;
	transition: opacity 0.9s ease-out 0s;
}

.link:hover {
	opacity: 0.5;
}

@media screen and (min-width: 768px) {
	.link {
		font-size: 28px;
	}
}

@media screen and (min-width: 1024px) {
	.link {
		font-size: 36px;
	}
}
