.footer__copyright {
	box-sizing: border-box;
	font-family: "Franklin-Gothic-Book", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 100%;
	color: #000;
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-template-rows: 1fr;
	column-gap: 16px;
	align-items: center;
}

@media screen and (min-width: 1280px) {
	.footer__copyright {
		font-size: 36px;
		align-self: flex-end;
		column-gap: 40px;
	}
}
