.direction__subtitle {
	font-weight: 400;
	font-size: 16px;
	position: relative;
	max-width: 90%;
	padding: 0;
	margin: 0;
	text-align: center;
	grid-row: 3/3;
	grid-column: 1/1;
	z-index: 1;
	align-self: start;
}

.direction__item:nth-of-type(n + 2) .direction__subtitle {
	color: #fff;
}

.direction__item:nth-of-type(n + 3) .direction__subtitle {
	color: #fff;
}

.direction__item:nth-of-type(n + 4) .direction__subtitle {
	color: #000;
}

@media screen and (min-width: 475px) {
	.direction__item > .direction__subtitle {
		width: 80%;
	}
}

@media screen and (min-width: 1024px) {
	.direction__item > .direction__subtitle {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.1s, opacity ease-out 1s;
	}

	.direction__item:hover > .direction__subtitle {
		visibility: visible;
		opacity: 1;
	}
}

@media screen and (min-width: 1280px) {
	.direction__subtitle {
		font-size: 28px;
	}
}
