.portfolio-name {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	background-image: url("../../images/heaader__image-bw.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-items: center;
	z-index: 0;
}

.portfolio-name:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: 0;
	background-color: rgb(5, 5, 5);
	opacity: 0.85;
}

@media screen and (min-width: 625px) {
	.portfolio-name {
		min-height: 400px;
	}
}

@media screen and (min-width: 768px) {
	.portfolio-name {
		min-height: 450px;
	}
}

@media screen and (min-width: 850px) {
	.portfolio-name {
		min-height: 500px;
	}
}

@media screen and (min-width: 1024px) {
	.portfolio-name {
		min-height: 620px;
	}
}

@media screen and (min-width: 1280px) {
	.portfolio-name {
		max-width: 1280px;
		min-height: 720px;
	}
}
